<!DOCTYPE html>
<html>
    <head>
        <title>about</title>
                <link rel="icon" href="https://f.v1.n0.cdn.getcloudapp.com/items/1J0Y1N1I441v1E2k3e2W/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
        <img class="portrait" src="https://i.pinimg.com/564x/f0/8a/3f/f08a3f30a70f0ff77686b371fcda9e1a.jpg">
        </div>
        {{>footer}}
    </body>
</html>